.container{
 
    margin-left: 90px;
      
      
   }

.inputStyle{
    color:red;
    
}
.orderButton{
    border: 1px solid rgb(215, 208, 208);
    padding: 12px 50px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 17px;
    width: 510px;
}
.orderButton:hover{
    color: white;
    border-color: white;
}


.order{
    margin-left: 40px;
   
   
  
}
.file{
    color: rgba(0, 0, 0, 0)
}

.file::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
  
    /* display: none; */

  }
  .file::before {
    margin-left: 50px;
    content: 'Upload your file';
    display: inline-block;
    color: #e3e3e3;
    /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
    border: 1px solid rgb(215, 208, 208);
    border-radius: 3px;
    padding: 10px 20px;
    outline: none;
    white-space: nowrap;
   
    cursor: pointer;
    
  
    font-size: 18px;
  }
  .file{
    text-decoration: none;
  }
  